/*header & navigation */
/*
.navigation-bar li {
    display: inline;
    color: white;
    font-family: 'Nunito', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

.navigation-bar ul {
    background-color: #333;
    padding-bottom: 20px;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    margin-top: -5px;
    margin-left: -10px;
}

.navigation-bar li a {
    color: white;
    text-decoration: None;
    font-family: 'Nunito', sans-serif;

}
li a:hover{
    color: #2B9EB3;
}
.CSCB20-head {
    display: inline;
    padding-right: 20px;
    color: #2B9EB3;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
*/

/*
.menu-button {
    visibility: hidden;
    background:url(./Icons/menu-button-of-three-horizontal-lines.png) no-repeat;
    cursor:pointer;
    border:none;
    width: 30px;
    height: 30px;
    position: fixed;
}
*/

/* menu */
a {
    color: #000;
  }
.header {
    background-color: #333;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    margin-left: -10px;
    margin-right: -5px;
  }
  
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #333;
}
  
.header li a {
    display: block;
    padding: 20px 20px;
    /*border-right: 1px solid #f4f4f4;*/
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: #f4f4f4;
}
  
.header li a:hover,
.header .menu-btn:hover {
    background-color: #2B9EB3;
}
  
.header .logo {
    display: block;
    float: left;
    font-size: 20px;
    padding-top: 18px;
    padding-left: 10px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #2B9EB3;
  }
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
  
.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #FFFFFF;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
.header .menu-icon .navicon:before {
    top: 5px;
  }
  
.header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
.header .menu-btn {
    display: none;
  }
  
.header .menu-btn:checked ~ .menu {
    max-height: 240px;
    overflow: auto;
  }
  
.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
  
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
  
  /* 48em = 768px */
  
@media (min-width: 78em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  



/* Media queries - make sure the menu/navigation bar is responsive */



/* body*/

body h1 {
    padding-top: 80px;
    font-family: 'Nunito', sans-serif;
    color: #333;
    font-size: 40px;
    margin-left: 10px;
}

body .course-description {
    font-family: 'Nunito', sans-serif;
    color: #333;
    font-size: 18px;
    width: 60%;
    margin-left: 10px;
}

body h2 {
    font-family: 'Nunito', sans-serif;
    color: #333;
    font-size: 25px;
    text-align: center;
}


/* mini wesbite */
/*
.mini-website {
    width: 800px;
    height: 500px;
    background-color: white;
    border-style: solid;
    border-color: #333;
    border-width: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
    align-items: center;
}


.container {
    display: inline-flex;
    flex-direction: row;
}
.left-arrow img {
    width: 20px;
    height: 20px;
    padding-left: 10px;
    padding-top: 10px;
    align-items: center;
    float: left;

}

.right-arrow img {
    width: 20px;
    height: 20px;
    padding-left: 15px;
    padding-top: 10px;
    float: left;
}

.refresh img {
    width: 20px;
    height: 20px;
    padding-left: 25px;
    padding-top: 10px;
    float: left;
}


/*
.search {
    width: 350px;
    height: 10px;
    margin-left: 150px;
    margin-top: 10px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: #333;
    background-color: white;
    border-radius: 3px;
    display: inline-block;
}
*/

/*
.search img {
    width: 300px;
    height: 50px;
    padding-left: 25px;
}
.minimize img {
    width: 20px;
    height: 20px;
    padding-left: 55px;
    padding-top: 10px;
    float: left;
}

.close img {
    width: 20px;
    height: 20px;
    padding-left: 55px;
    padding-top: 10px;

}
*/

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media screen and (max-width: 700px) {
    .html {
        flex: 100%;
        margin-right: 50px;
    }
    .css {
        flex: 100%;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
    }
    .javascript {
        flex: 100%;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
    }
    .SQL {
        flex: 100%;
        margin-left: 50px;
        margin-left: 50px;
        margin-top: 20px;
    }
  body .course-description {
    width: 90%;
  }
   
}

@media screen and (max-width: 950px) {
    .html {
        flex: 40%;
    }
    .css {
        flex: 40%;
        margin-right: 50px;
    }
    .javascript {
        flex: 40%;
        margin-left: 50px;
        margin-top: 20px;
    }
    .SQL {
        flex: 40%;
        margin-top: 20px;
    }
   
}



.html {
    background-color: white;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 50px;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.container img {
    width: 130px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container p {
    overflow: auto;
    font-family: 'Nunito', sans-serif;
    color: #333;
    font-size: 13.5px;
    text-align: center;
}

.css {
    background-color: white;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 1%;
    padding-right: 1%;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.javascript {
    background-color: white;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 1%;
    padding-right: 1%;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.SQL {
    background-color: white;
    overflow: hidden;
    width: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
.html img {
    width: 130px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.html p {
    overflow: auto;
    font-family: 'Nunito', sans-serif;
    color: #333;
    font-size: 13.5px;
    text-align: center;
}

.css {
    background-color: white;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 1%;
    padding-right: 1%;
    width: 22%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.css img {
    width: 130px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.css p {
    overflow: auto;
    font-family: 'Nunito', sans-serif;
    color: #333;
    font-size: 13.5px;
    width: 100%;
    text-align: center;
}
.javascript {
    background-color: white;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 1%;
    padding-right: 1%;
    width: 22%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.javascript img {
    width: 130px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.javascript p {
    overflow: auto;
    font-family: 'Nunito', sans-serif;
    color: #333;
    font-size: 13.5px;
    width: 100%;
    text-align: center;
}
.SQL {
    background-color: white;
    overflow: hidden;
    width: 22%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.SQL img {
    width: 130px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.SQL p {
    overflow: auto;
    font-family: 'Nunito', sans-serif;
    color: #333;
    font-size: 13.5px;
    width: 100%;
    text-align: center;
}
*/
.footer-container {
    display: flex;
   
}
footer p {
    padding-left: 10px;
    font-family: 'Nunito', sans-serif;
    color: #333;
    font-size: 12px;
}

