@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');

body {
    margin: 0;
    position: relative;
  }
  
  .gradient-nav {
    overflow: hidden;
    background:linear-gradient(to right, #fd6b7f, #fab8c0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
  }
  
  .gradient-nav ul {
   
    list-style-type: none;
    margin: 0;
    padding: 0;

  }
  .gradient-nav a {
    float: left;
    display: block;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .gradient-nav .active, .gradient-nav a:hover {
    background-color: white;
    color: #ee9ca7;
  }
  
  .gradient-nav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .gradient-nav a {display: none;}
    .gradient-nav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .gradient-nav.responsive {position: relative;}
    .gradient-nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .gradient-nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive {float: none;}
    .topnav.responsive {position: relative;}
    .topnav.responsive {
      display: block;
      width: 100%;
      text-align: left;
    }
    
  }

  .header {
      position: relative;
  }

  .header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 70px;
    margin-top: -800px;
    position: absolute;
    width: 100%;
    color: white;
  }
  
  .box1 {
    width: 400px;
    height: 300px;
    margin-top: 100px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 30px;
  }
 
  .gradient-stripe1 {
    width: 400px;
    height: 15px;
    background: linear-gradient(to right, #fd6b7f, #fab8c0);
    border-radius: 5px 5px 0px 0px;
    
  }

  .small-box1 {
    width: 200px;
    height: 40px;
    margin-top: 30px;
    margin-left: 100px;
    padding-top: 10px;
    text-align: center;
    border-radius: 15px;
    background: linear-gradient(to right, #fd6b7f, #fab8c0);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: white;
  }

  .box1-text {
    color: rgb(75, 75, 75);
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    opacity: 80%;
  }

  .flexbox {
      padding: 15px 50px 0 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  /*
  .container-html {
      position: relative;
      top: 10px;
      left: 15px;
  }

  .container-css {
      position: relative;
      left: 85px;
      bottom: 40px;
  }

  .container-javascript {
      position: relative;
      left: 160px;
      bottom: 90px;
  }

  .container-python {
      position: relative;
      left: 260px;
      bottom: 140px;
  }
  */


  .devicon-css3-plain-wordmark, .devicon-html5-plain-wordmark, .devicon-javascript-plain,
  .devicon-python-plain-wordmark {
      color: white;
      font-size: 30px;
      
  }

  .devicon-html5-plain-wordmark, .devicon-css3-plain-wordmark, .devicon-javascript-plain,
  .devicon-python-plain-wordmark {
      left: 10px;
      top: 8px;
      position: absolute;
  }

  .pulse {
    display: block;
    position: relative;
    left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #fab8c0;
    cursor: pointer;
    box-shadow: 0 0 0 #fd6b7f;
    animation: pulse 2s infinite;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 #fd6b7e8e;
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px #fd6b7e00;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 #fd6b7e00;
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 #fd6b7e8e;
      box-shadow: 0 0 0 0 #fd6b7e8e;
    }
    70% {
        -moz-box-shadow: 0 0 0 10px #fd6b7e00;
        box-shadow: 0 0 0 10px #fd6b7e00;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 #fd6b7e00;
        box-shadow: 0 0 0 0 #fd6b7e00;
    }
  }

  /* github button */
  #github {
      border: none;
      border-radius: 10px;
      background:linear-gradient(to right, #fd6b7f, #fab8c0);
      padding: 10px 30px 10px 30px;
      position: relative;
      left: 160px;
      bottom: 50px;
      cursor: pointer;
  }

  #github > a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    text-decoration: none;
  }

  .box2 {
    width: 400px;
    height: 300px;
    margin-top: 100px;
    position: relative;
    left: 500px;
    bottom: 440px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 30px;
    margin-bottom: 50px;
  }
 
  .gradient-stripe2 {
    width: 400px;
    height: 15px;
    background: linear-gradient(to right, #fd6b7f, #fab8c0);
    border-radius: 5px 5px 0px 0px;
    
  }

  .small-box2 {
    width: 200px;
    height: 40px;
    margin-top: 30px;
    margin-left: 100px;
    padding-top: 10px;
    text-align: center;
    border-radius: 15px;
    background: linear-gradient(to right, #fd6b7f, #fab8c0);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: white;
  }

  .box2-text {
    color: rgb(75, 75, 75);
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    opacity: 80%;
  }

  .flexbox2 {
      padding: 15px 50px 0 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
 

  .devicon-java-plain-wordmark {
      color: white;
      font-size: 30px;
      left: 10px;
      top: 8px;
      position: absolute;
      
  }

  .pulse {
    display: block;
    position: relative;
    left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #fab8c0;
    cursor: pointer;
    box-shadow: 0 0 0 #fd6b7f;
    animation: pulse 2s infinite;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 #fd6b7e8e;
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px #fd6b7e00;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 #fd6b7e00;
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 #fd6b7e8e;
      box-shadow: 0 0 0 0 #fd6b7e8e;
    }
    70% {
        -moz-box-shadow: 0 0 0 10px #fd6b7e00;
        box-shadow: 0 0 0 10px #fd6b7e00;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 #fd6b7e00;
        box-shadow: 0 0 0 0 #fd6b7e00;
    }
  }

  /* github button */
  #github {
      border: none;
      border-radius: 10px;
      background:linear-gradient(to right, #fd6b7f, #fab8c0);
      padding: 10px 30px 10px 30px;
      position: relative;
      left: 160px;
      bottom: 50px;
      cursor: pointer;
  }

  #github > a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    text-decoration: none;
  }

  /* media queries to make sure the boxes are responsive */
  @media screen and (max-width: 950px) {
    
    .box2 {
        position: static;
        margin-top: 0px;   
    }

    footer {
        position: relative;
        bottom: 0px;
        top: 720px;
    }
  }

  @media screen and (max-width: 600px) {
    .box1, .box2{
      width: 90vw;
      height: 47vh;
    }
    .gradient-stripe1, .gradient-stripe2 {
      width: 100%;
    }
    .small-box1, .small-box2 {
      width: 50%;
    }

  }

  @media screen and (max-width: 360px) {
    .box1, .box2{
      width: 90vw;
      height: 58vh;
    }
    .gradient-stripe1, .gradient-stripe2 {
      width: 100%;
    }
    .small-box1, .small-box2 {
      width: 50%;
    }
    .flexbox {
      padding: 15px 30px 0 5px;
    }

  }

  footer {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
    color: #fd6b7f;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
}

/*
.redheart {
  position: relative;
  bottom: 30px;
  left: 45px;
}

#name {
  position: relative;
  bottom: 60px;
  left: 90px;
}

#made-for {
  position: relative;
  bottom: 0;
  top: 30;
}
*/
  /*
  .box1 {
    -webkit-animation: boxes-container 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: boxes-container 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @-webkit-keyframes boxes-container{
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes boxes-container {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  */